{
  system = "x86_64-linux";
  version = "25.11";
  host = "HOST";
  disk = "DISK";
  bootloader = "limine";
  user = {
    name = "teto";
    terminal = "kitty";
    gitName = "Benzenec6h6";
    gitEmail = "aconitinec34h47no11@gmail.com";
  };
  locale = {
    timeZone = "Asia/Tokyo";
    default = "en_US.UTF-8";
    extra = [ "ja_JP.UTF-8/UTF-8" ];
    keyMap = "jp106";
    kbLayout = "jp";
  };
  busId = { intel = "INTEL_BUS"; nvidia = "NVIDIA_BUS"; };
}
